.nav
  グループを作成しました

.header
  .header__left

.contents
  .contents__left
    .contents__left__group
      test-group
  .contents__right
    .contents__right__footer
      .contents__right__footer--blank
      .contents__right__footer--send
        Send


