.contents__left{
  background-color: #2f3e51;
  height: 100%;
  width: 300px;
  float: left;
  overflow: scroll;
  &__group{
    height: 40px;
    line-height: 40px;
    color: $white;
    margin: 20px 0px 0px 20px;
    font-size: 15px;
    font-weight: bold;
    a{
      color: $white;
      text-decoration: none;
    }
    &__message{
      font-size: 10px;
      font-weight: bold;
      line-height: 11px;
      margin-bottom: 40px;
    }
  }
}