.contents__right__footer{
  margin: 25px, 40px, 25px, 40px;
  background-color: #ddd;
  height: 90px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  &__message{
    text-align: center;
    margin-left: 40px;
    width: 100%;
    form{
      display: flex;
      text-align: center;
      line-height: 50px;
      margin-top: 25px;
      .contents__right__footer__message__text{
        width: 100%;
        font-size: 16px;
        color: $bold_gray;
        display: flex;
        input{
          border: none;
          height: 100%;
          width: 100%;
          padding-left: 10px;
        }
        label{
          cursor: pointer;
          line-height: 1;
          input{
            display: none;
          }
        }
        i{
          background-color: white;
          font-size: 20px;
          padding-right: 10px;
          line-height: 50px;
          
        }
      }
      .contents__right__footer__message__sendbtn{
        margin: auto 0;
        background-color: #ddd;
        padding-left:15px;
        margin-right: 40px;
        input{
          background-color: $light_blue;
          text-align: center;
          color: white;
          float: right;
          padding: 12px 30px;
        }
      }
    }


    }

    

}