.header{
  background-color: $white;
  height: 100px;
  width: 100%;
  &__right{
    width: calc(100% - 300px);
    float:right;
    height: 100px;
    @include flexbetween();
    &__groupname{
      padding-left: 40px;
      font-size: 20px;
      margin-top: 35px;
      color: #333333;
      &__members{
        font-size: 12px;
        color: $gray;
        margin-top: 15px;
      }
    }
    &__edit{
      color: $light_blue;
      line-height: 40px;
      border: solid 1px $light_blue;
      margin-top: 28px;
      padding: 0 20px;
      margin-bottom: 32px;
      margin-right: 40px;
    }
  }
  &__left{
    background-color: #253141;
    height: 100%;
    width: 300px;
    @include flexbetween();
    &__username{
      font-size: 16px;
      font-weight: bold;
      color: $white;
      padding-left: 20px;
      line-height: 100px;
    }
    &__icons{
      line-height: 100px;
      padding-right: 20px;
      display: flex;
      color: $white;
      .icon{
        color: $white;
      }
    }
  }
}